.center-information-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-information{
    margin-right: 20px;
}

.center-detail-information{
    display: inline-block;
}

.center-information{
    display: flex;
    flex-direction: row;
    align-items: center;
}
