.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0px !important;
}

.custom-dropdown-button {
  padding: 0 15px;
  box-shadow: none;
  font-weight: 500;
  border-radius: 99px;
  background-color: #fff;
  height: 37px;
  color: #000;
  border: 1px solid #edf2ff;
}

.custom-dropdown-button:hover {
  border: 1px solid #62b7d3;
  box-shadow: none;
}
