.input-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fieldName {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
}
.inputPlace {
  border-radius: 5px;
}
