.role{
    text-transform: uppercase ;
    color: #D37E62;
    font-size: 14px;
    font-weight: 600 !important;
}
.person-name{
    font-size: 12px !important;
    font-weight: 600 !important;
}

.person-email{
    font-weight: 400 !important;
    font-size: 12px !important;
}
.person-education{
    font-weight: 400 !important;
    font-size: 12px !important;
}