.signUp-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -15px 0px -20px 20px;
  align-items: center;
}
.signUp-section {
  flex: 2;
  flex-direction: column;
  align-items: center;
}

.signUp-input {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.signUp-header {
  font-size: 18px;
  width: 100%;
  color: rgb(43, 30, 30);
  font-weight: 600;
  text-align: center;
}

.input-information {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-image {
  flex: 1;
}
