.signUp-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 0 -20px 20px; */
  align-items: center;
}
.signUp-section {
  height: 100%;
  flex: 3;
  flex-direction: column;
  align-items: center;
}

.signUp-input {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 10px;
}

.signUp-header {
  font-size: 18px;
  width: 100%;
  color: rgb(43, 30, 30);
  font-weight: 600;
  text-align: center;
}

.input-information {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-image {
  flex: 2;
}

@media (max-width: 930px) {
  .side-image{
    display: none;
  }
}
