.signUp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.signUp-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUp-header {
  width: 50%;
  color: black;
  text-align: center;
  font-weight: 600;
}
