.pageContainer {
  padding: 0px;
}

/*phan tren*/
.upperContainer {
  display: flex;
  flex-direction: row;
}

.statsDisplayDiv {
  flex: 4;
  order: 0;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
  animation-name: slide-in-left;
  animation-duration: 1s;
}
.chartManager {
  display: flex;
}
.transitionTabDiv {
  flex: 1;
  order: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-shrink: 1;
  animation-name: slide-in-right;
  animation-duration: 1s;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.chartUpperButDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chartUpperButDivHolder{
  width: 100%;
}
.chartUpperBut {
  margin-top: 10px;
  border: none;
  width: 100%;
  height: 110px;
  max-height: 50px;
  background-color: #62b7d3;
  color: white;
}
.chartUpperBut.active {
  background-color: blue;
  color: white;
}
#chartUpperBut1 {
  border-radius: 10px 0 0 0;
  border-right: 1px solid;
}
#chartUpperBut3 {
  border-radius: 0 10px 0 0;
  border-left: 1px solid;
}
.chartContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}

/*phan duoi table*/
.tableContainer {
  border-radius: 5px;
  margin-top: 20px;
  background-color: #62b7d3;
  padding: 5px;
  display: block;
  animation-name: slide-in-left;
  animation-duration: 1s;
}
@media screen and (max-width: 600px) {
  .pageContainer {
    flex-direction: column;
  }
  .statsDisplayDiv {
    order: 1;
    width: 100%;
    min-width: auto;
  }
  .transitionTabDiv {
    order: 0;
    padding: 10px;
    min-width: auto;
  }
}

.columnInput {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

.generalInput {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

.generalInputContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.columnInput:focus,
.generalInput:focus {
  outline: none;
  border-color: #62b7d3;
  box-shadow: 0 0 5px #62b7d3;
}

.firstPart {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  /*margin-top: 2px; */
}
.secondPart {
}
/*table*/
