.overview-container {
  background-color: white !important;
  border-radius: 20px;
  width: 75%;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}

.overview-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.overview-button {
  height: fit-content;
  margin-left: auto;
  flex-wrap: nowrap;
  border: 1px solid #edf2ff;
  border-radius: 20px;
}

.overview-button:hover {
  border: 1px solid #62b7d3;
}

.month-button,
.year-button,
.week-button {
  border-radius: 20px !important ;
  color: #2d323b !important;
}

.selected-button {
  background-color: #62b7d3 !important;
  color: rgb(245, 245, 245) !important;
}

/* .overview-text-container {
  margin-left: 30px;
  margin-top: 10px;
} */

.overview-description {
  color: #7f7f7f !important;
  font-weight: 500;
}

.overview-text,
.overview-description {
  font-family: sans-serif;
}
.overview-text {
  /* margin-top: 5px;
  margin-bottom: 5px; */
  font-weight: 600;
}
.overview-description {
  margin-top: 5px;
}

.chart-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-top: 20px;
}

.barchart,
.vertical-chart {
  background-color: #edf2ff;
  min-width: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  font-family: "Roboto-mono";
  flex: 1;
  height: 300px;
}

.barchart {
  margin-right: 15px;
}

.vertical-chart {
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .chart-container {
    display: block;
  }
  .barchart,
  .vertical-chart {
    display: block;
    margin: 0 auto;
  }
  .barchart {
    margin-bottom: 30px;
  }
  .overview-center-responsive {
    width: 100%;
  }
  .overview-dep-responsive {
    width: 100%;
  }
}

.recharts-default-legend {
  padding: 0 !important;
  margin-left: 60px !important;
}

.chart-description {
  font-style: italic;
  color: #7f7f7f;
  text-align: center;
  margin-left: 60px;
  margin-top: 15px;
}
