.css-1oqqzyl-MuiContainer-root {
  max-width: 100% !important;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

@media (max-width: 650px) {
  .menu-box {
    display: none !important;
  }
  .toggle-box {
    display: block !important;
  }
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border-radius: 5px !important;
}

/* .no-shadow {
  box-shadow: none !important;
} */
