.dialogContainer {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dialogContainer.open {
  opacity: 1;
  transform: translateY(0);
}
.title-picture {
  margin-left: 10px;
  margin-left: 10px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.draggable-dialog-title {
  align-items: center;
}
.nameAndPicture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.simple-info {
  flex: 1;
}

.simple-info .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.simple-info .item:hover {
  background-color: #f5f5f5;
}

.simple-info .item .simple-left {
  min-width: 170px;
  flex: 1;
  margin-right: 10px;
}

.simple-info .item .simple-right {
  min-width: 145px;
  flex: 1;
  text-align: right;
}

.pictureHolder {
  border-radius: 10px;
  border: 2px solid;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.info-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.Info {
  padding: 20px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.Info.open {
  opacity: 1;
  transform: translateY(0);
}

.Info .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Info .item:hover {
  background-color: #f5f5f5;
}

.Info .item .left {
  flex: 1;
  margin-right: 10px;
}

.Info .item .right {
  flex: 1;
  text-align: left;
}
