.paperContainer {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
.generalInput {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

#clearFilterBut {
  color: black;
  background-color: white;
  border: 1px solid #62b7d3;
  height: 30px;
  border-radius: 5px;
}

#clearFilterBut:hover {
  color: white;
  background-color: blue;
}

.generalInputContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.columnInput:focus,
.generalInput:focus {
  outline: none;
  border-color: #62b7d3;
  box-shadow: 0 0 5px #62b7d3;
}

.firstPart {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  /*margin-top: 2px; */
}
.secondPart {
}
/*table*/

/*animation*/
.column-animation {
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.css-1iyq7zh-MuiDataGrid-columnHeaders {
  height: 60px!important;
  max-height: 60px!important;
}

.MuiDataGrid-columnHeader{
  height: 60px!important;
  max-height: 60px!important;
}
