.login-section {
  width: 60%;
  align-items: flex-end;
  height: 100%;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  color: white;
  text-align: center;
  margin-top: 17%;
  font-weight: 600;
}

.welcome-back {
  margin-bottom: 10px;
}

.login {
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  p {
    font-size: 0.8rem;
  }

  .welcome-back {
    font-size: 1.7rem;
  }

  .login {
    font-size: 1.5rem;
  }
}
