.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-header {
  color: white;
  text-align: center;
  font-weight: 600;
}

.welcome-back {
  margin-bottom: 10px;
}

.login {
  margin-top: 30px;
  margin-bottom: 20px;
}
