.primary-font {
    font-family: "Roboto Mono", monospace;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    background-color: #0b2447;
    display: flex;
}
