.primary-font {
  font-family: "Roboto Mono", monospace;
}

.secondary-font{
  font-family: sans-serif;
}
.secondary-color{
  
}
.primary-color {
}

.secondary-color {
  background-color: #62b7d3;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edf2ff;
}

#root {
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  display: flex;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
  background-color: #62b7d3 !important;
  box-shadow: none !important;
}